<header>
  <div class="header-upper">
    <div class="title-container">
      <div class="login" *ngIf="!user">
        <a (click)="loginUser()">Se connecter</a>
      </div>
      <div class="user" *ngIf="user">
        <div class="imagePreview">
          <img *ngIf="user" [src]="avatar['GreenGoblin3']" alt="img1" />
        </div>
        <a [matMenuTriggerFor]="menu">
          {{ user.username }}
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>déconnexion</button>
        </mat-menu>
      </div>
      <h1><a routerLink="">GOBILUDIK</a></h1>
      <div class="social-icon"><span class="material-icons"> poll </span></div>
    </div>
  </div>

  <nav *ngIf="user">
    <ul class="link-container">
      <li class="link-wrapper">
        <a routerLink="/boardgame" routerLinkActive="active">boardgame</a>
      </li>
      <li class="link-wrapper">
        <a routerLink="/videogame" routerLinkActive="active">videogame</a>
      </li>
      <li class="link-wrapper">
        <a routerLink="/play" routerLinkActive="active">play</a>
      </li>
    </ul>
  </nav>
</header>
