@import "styles/reset";
@import "styles/variables";
@import "styles/mixins";

@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic",
  "https://fonts.googleapis.com/css?family=Cabin:400";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  //  background-color: #343a40;
  background-color: #151515;
  background-color: #303030;
  color: #fff;
  font-family: "Cabin", helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}
